@model sendmail_api.Models.MailModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Connor Neary</title>
    <style>
        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
        .styled-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }
        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }
        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }
        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }
    </style>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <table class="styled-table">
                <tr>
                    <th>Email Information</th>
                </tr>
                <tr>
                    <td>Send To: </td>
                    <td>@Html.TextBoxFor(t => t.ToAddress)</td>
                </tr>
                <tr>
                    <td>Subject: </td>
                    <td>@Html.TextBoxFor(t => t.Subject)</td>
                </tr>
                <tr>
                    <td>Body: </td>
                    <td>@Html.TextBoxFor(t => t.Body)</td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
